name: Annotate checks

on:
  workflow_run:
    workflows: ["Java CI with Maven", "Release with Maven"]
    types:
      - completed

jobs:
  annotate:
    runs-on: ubuntu-latest
    if: >
      ${{ github.event.workflow_run.event == 'pull_request' }}
    steps:
      - name: 'Download artifact'
        uses: actions/github-script@v5
        with:
          script: |
            const fs = require('fs');
            const opts = github.rest.actions.listWorkflowRunArtifacts.endpoint.merge({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            const artifacts = await github.paginate(opts);
            for (const artifact of artifacts) {
              if (!artifact.name.startsWith('test report ')) {
                continue;
              }
              const download = await github.rest.actions.downloadArtifact({
                 owner: context.repo.owner,
                 repo: context.repo.repo,
                 artifact_id: artifact.id,
                 archive_format: 'zip',
              });
              fs.writeFileSync('${{github.workspace}}/' + artifact.name + '.zip', Buffer.from(download.data));
            }
      - run: |
          set -x
          pwd
          ls
          for archive in *.zip; do
            name=$(basename "$archive" .zip)
            mkdir "$name"
            (cd "$name" && unzip ../"$archive")
          done
      - uses: scacap/action-surefire-report@v1
        with:
          fail_if_no_tests: false
      - uses: starburstdata/action-testng-report@v1.0.2
        with:
          fail_if_empty: false
          github_token: ${{ github.token }}
